{% extends 'base.html' %}

{% block titulo%}SICA|Alunos{% endblock %}

{% block content %}
<div class="container">
	<legend>Adcionar Aluno</legend>
	<form role="form"  method="post" class="login-form">
	{% csrf_token %}

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="prontuario">Prontuário: </label>
					{{ form.prontuario }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.prontuario %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="nome">Nome: </label>
					{{ form.nome }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.nome %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="sobrenome">Sobrenome: </label>
					{{ form.sobrenome }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.sobrenome %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="curso">Curso: </label>
					
					<select class="form-control" name="curso">
						<option value="0">--- Selecione um curso ---</option>
  						{% if cursos %}
							{%for curso in cursos %}
								{%if curso.ativo %}
									<option value="{{ curso.id }}">{{ curso.curso }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}	
  					</select>
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.curso %}
        				{% for error in field.errors %}
							</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="ano">Ano: </label>
					
					<select class="form-control" name="ano">
						<option value="0">--- Selecione o ano ---</option>
  						<option {% if form.ano.value == '1' %} selected {% endif %} value="1">1º Ano</option>
  						<option {% if form.ano.value == '2' %} selected {% endif %} value="2">2º Ano</option>
  						<option {% if form.ano.value == '3' %} selected {% endif %} value="3">3º Ano</option>
  					</select>
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.ano %}
        				{% for error in field.errors %}
							</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>	
		<button type="submit" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"><b> Adicionar</b></font></button>
	</form>
</div>
{% endblock %}
