{% extends 'base.html' %}

{% block titulo%}SICA|Alunos{% endblock %}

{% block content %}
<div class="container">
	{% if senha %}
	<legend>Editar Senha</legend>
	{% else %}
	<legend>Criar Senha</legend>
	{% endif %}
	<form role="form"  method="post" class="login-form">
	{% csrf_token %}
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="senha">Senha: </label>
					<input id=id_senha maxlenght="30" name=senha type="password" value="">
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.senha %}
        				{% for error in field.errors %}
							</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="senhaConfirm">Confirmar Senha: </label>
					{{ form.senhaConfirm }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.senhaConfirm %}
        				{% for error in field.errors %}
							</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>		
		<button type="submit" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"><b> Salvar </b></font></button>
	</form>
</div>
{% endblock %}
