{% extends 'base.html' %}

{% block titulo%}SICA|Cardapios{% endblock %}

{% block content %}

<div class="container">
	<legend>Adcionar Cardápio</legend>
	<form role="form"  method="post" class="login-form">
	{% csrf_token %}
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="data">Data: </label>
					<input type="date" class="form-control" placeholder="dd/mm/aaaa" name="data">
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.data %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="principal">Prato Principal: </label>
					{{ form.principal }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.principal %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="salada">Salada: </label>
					{{ form.salada }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.salada %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="sobremesa">Sobremesa: </label>
					{{ form.sobremesa }}
				</div>
			</div>	
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.sobremesa %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}	
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="sobremesa">Suco: </label>
					{{ form.suco }}
				</div>
			</div>
			{% if form.errors %}
    			{% for field in form %}
        			{% if field ==  form.suco %}
        				{% for error in field.errors %}
        					</br>
							<div class="col-md-4">
            					<div class="alert alert-danger">
                					<strong>{{ error }}</strong>
            					</div>
	            			</div>
        				{% endfor %}
        			{% endif %}
    			{% endfor %}
			{% endif %}
		</div>
		<button type="submit" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"><b> Adicionar</b></font></button>
	</form>
</div>
{% endblock %}