{% extends 'base.html' %}

{% block titulo%}SICA|Cardapios{% endblock %}

{% block content %}

<div class="container">
	<legend>Editar Cardápio</legend>
	<form role="form" method="post" class="login-form">
	{% csrf_token %}
	{% if form.errors %}
    	{% for field in form %}
        	{% for error in field.errors %}
            	<div class="row">
					<div class="col-md-4">
            			<div class="alert alert-danger">
                			<strong>{{ field.name }}: {{ error }}</strong>
            			</div>
            		</div>
            	</div>
        	{% endfor %}
    	{% endfor %}
	{% endif %}
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="data">Data: </label>
					<input type="date" class="form-control" placeholder="dd/mm/aaaa" name="data" value="{{ form.data.value }}">
			{% if form.errors %}
    			{% for field in form %}
        			{% for error in field.errors %}
            			<div class="alert alert-danger">
                			<strong>{{ field.name }}: {{ error }}</strong>
            			</div>
            		{% endfor %}
    			{% endfor %}
		{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="principal">Prato Principal: </label>
					{{ form.principal }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="salada">Salada: </label>
					{{ form.salada }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="sobremesa">Sobremesa: </label>
					{{ form.sobremesa }}
				</div>
			</div>		
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="sobremesa">Suco: </label>
					{{ form.suco }}
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"><b> Salvar</b></font></button>
	</form>
</div>
{% endblock %}