{% extends 'base.html' %}


{% block titulo %} SICA | Home {% endblock %}

{% if errors %}
	<ul>
    	{% for error in errors %}
        	<li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% block content %}
<<<<<<< HEAD
	Erro de permissão
=======
	
<div class="container">
	<div class="row">
		<img class="imgErro" alt="Erro 403 Acesso Negado "src="/static/login/img/erro_403.png">
	</div>
</div>

>>>>>>> server
{% endblock  %}
