{% extends 'base.html' %}


{% block titulo %} SICA | Home {% endblock %}

{% block home %}
{% if errors %}
	<ul>
    	{% for error in errors %}
        	<li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}


<div class="container">
	{% if erro %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Que pena!</strong> O ticket de hoje nao foi gerado devido ao problema: {{ erro }}.
  			</div>
		</div>
	</div>
	{% endif %}
	{% if msg %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Ticket Gerado!</strong> O ticket de hoje foi gerado com sucesso.
  			</div>
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h3 class="display-3" align="left">Gerar Ticket de Almoço para hoje: {{data.0}}</h3>	 
				<br>
				<form action="/sicaweb/home" method="POST">
					{% csrf_token %}
					<label for="prontuario">Prontuário:</label>
					<input name="prontuario" type="text" maxlength="9"/>
					<button type="submit" class="btn btn-primary">Enviar</button>
				</form>			  				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2 class="display-3" align="center">Cardápio - {{ data.0 }}</h2>
	  			<h3 align="center">({{ data.0|date:"l" }})</h3>
	  			<br>
	  			{% if cardapio.0 %}
	  				<p><b>Prato Principal:</b> {{ cardapio.0.principal }}</p>
	  				<hr class="my-4">
	  				<p><b>Salada:</b> {{ cardapio.0.salada }}</p>
	  				<hr class="my-4">
	  				<p><b>Sobremesa:</b> {{ cardapio.0.sobremesa }}</p>
	  				<hr class="my-4">
	  				<!-- <p><b>Suco:</b> {{ cardapio.0.suco }}</p> -->
	  			{% else %}
	  				<br/>
	  				<div class="alert alert-danger">Cardapio do dia não cadastrado</div>
				{%endif%}	
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="jumbotron sub">
				<h2 class="display-3" align="center">{{ data.1 }} ({{ data.1|date:"l" }})</h2>
	  			<br>
	  			{% if cardapio.1 %}
	  				<p><b>Prato Principal:</b> {{ cardapio.1.principal }}</p>
	  				<hr class="my-4">
	  				<p><b>Salada:</b> {{ cardapio.1.salada }}</p>
	  				<hr class="my-4">
	  				<p><b>Sobremesa:</b> {{ cardapio.1.sobremesa }}</p>
	  				<hr class="my-4">
	  				<!-- <p><b>Suco:</b> {{ cardapio.1.suco }}</p> -->
	  			{% else %}
	  				<br/>
	  				<div class="alert alert-danger">Cardápio do dia não cadastrado</div>
				{%endif%}	
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron sub">
				<h2 class="display-3" align="center">{{ data.2 }} ({{ data.2|date:"l" }})</h2>
	  			<br>
	  			{% if cardapio.2 %}
	  				<p><b>Prato Principal:</b> {{ cardapio.2.principal }}</p>
	  				<hr class="my-4">
	  				<p><b>Salada:</b> {{ cardapio.2.salada }}</p>
	  				<hr class="my-4">
	  				<p><b>Sobremesa:</b> {{ cardapio.2.sobremesa }}</p>
	  				<hr class="my-4">
	  				<!-- <p><b>Suco:</b> {{ cardapio.2.suco }}</p> -->
	  			{% else %}
	  				<br/>
	  				<div class="alert alert-danger" > Cardapio do dia não cadastrado</div>
				{%endif%}	
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron sub">
				<h2 class="display-3" align="center">{{ data.3 }} ({{ data.3|date:"l" }})</h2>
	  			<br>
	  			{% if cardapio.3 %}
	  				<p><b>Prato Principal:</b> {{ cardapio.3.principal }}</p>
	  				<hr class="my-4">
	  				<p><b>Salada:</b> {{ cardapio.3.salada }}</p>
	  				<hr class="my-4">
	  				<p><b>Sobremesa:</b> {{ cardapio.3.sobremesa }}</p>
	  				<hr class="my-4">
	  				<!-- <p><b>Suco:</b> {{ cardapio.3.suco }}</p> -->
	  			{% else %}
	  				<br/>
	  				<div class="alert alert-danger" >Cardapio do dia não cadastrado</div>
				{%endif%}	
			</div>
		</div>
	</div>
</div>
{% endblock %}