{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SICA | Password</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static "login/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "login/font-awesome/css/font-awesome.min.css" %}">
		<link rel="stylesheet" href="{% static "login/css/form-elements.css" %}">
        <link rel="stylesheet" href="{% static "login/css/style.css" %}">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static "login/ico/favicon.ico" %}">
    </head>

    <body background="{% static "login/img/backgrounds/1.jpg" %}">

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>SICA</strong></h1>
                            <div class="description">
                            	<p>
	                            	Sistema de Controle de Alimentação 
                            	</p>
                            </div>
                            {% if msg_err %}
                            <div class="alert alert-danger alert-dismissable fade in">
  								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  								{{ msg_err }}
							</div>
							{% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>SICA | Admin</h3>
                            		<p>Entre com o usuário, senha anterior e a nova senha:
                            			{% if errors %}
										<ul>
    										{% for error in errors %}
        										{{ error }}
        									{% endfor %}
    									</ul>
										{% endif %}
                            		</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="/sicaweb/accounts/password/" method="post" class="login-form">
			                    	{% csrf_token %}
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input type="text" name="form-username" placeholder="Usuário..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Senha Antiga</label>
			                        	<input type="password" name="form-oldpassword" placeholder="Senha Antiga" class="form-password form-control" id="form-password">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Senha Nova</label>
			                        	<input type="password" name="form-newpassword" placeholder="Senha Nova" class="form-password form-control" id="form-password">
			                        </div>
			                        <button type="submit" class="btn">Sign in!</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- Javascript -->
        <script src="{% static "login/js/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "login/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "login/js/jquery.backstretch.min.js" %}"></script>
      
    </body>

</html>
