{% extends 'base.html' %}

{% block titulo%}SICA|Horario{% endblock %}

{% block content %}
<div class="container">
	{% if msg %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Tudo Certo! {{msg }}.
  			</div>
		</div>
	</div>
	{% endif %}
	{% if err %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger alert-dismissable fade in">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong>Que pena! {{ err }}.
  			</div>
		</div>
	</div>
	{% endif %}
	<legend>Horarios</legend>
	<div class="row">
		<div class="col-md-2">
			<a href="/sicaweb/horarios/add">
				<button type="button" class="btn btn-primary glyphicon glyphicon-plus-sign"><font face="Arial"> Novo</button>
			</a>
		</div>
		<div class="col-md-4">
			<form role="form"  method="post" class="login-form">
			{% csrf_token %}
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Pesquisar</button>
					</span>
					<input type="text" class="form-control" placeholder="Pequisa" type="submit" name="campo">
				</div>
			</form>
		</div>
		<div class="col-md-6">
	</div>
	<div class="row">
		<div class="col-md-12">
			<br>
			<div class="panel panel-primary">
				<div class="panel-heading">Horarios</div>
					<table class="table">
						<tr>
							<th>Aluno</th>
							<th>Segunda</th>
							<th>Terça</th>
							<th>Quarta</th>
							<th>Quinta</th>
							<th>Sexta</th>
							<th>Editar</th>
							<th>Excluir</th>	
						</tr>
						{% for horario in horarios %}
						<tr>
							<th>{{ horario.aluno.nome }} {{horario.aluno.sobrenome}}</th>
							<th>
							{% if horario.seg %}
								<span class="glyphicon 	glyphicon glyphicon-ok">
							{% else %}
								<span class="glyphicon 	glyphicon glyphicon-minus">
							{% endif %}
							</th>
							<th>
							{% if horario.ter %}
								<span class="glyphicon 	glyphicon glyphicon-ok">
							{% else %}
								<span class="glyphicon 	glyphicon glyphicon-minus">
							{% endif %}
							</th>
							<th>
							{% if horario.qua %}
								<span class="glyphicon 	glyphicon glyphicon-ok">
							{% else %}
								<span class="glyphicon 	glyphicon glyphicon-minus">
							{% endif %}
							</th>
							<th>
							{% if horario.qui %}
								<span class="glyphicon 	glyphicon glyphicon-ok">
							{% else %}
								<span class="glyphicon 	glyphicon glyphicon-minus">
							{% endif %}
							</th>
							<th>
							{% if horario.sex %}
								<span class="glyphicon 	glyphicon glyphicon-ok">
							{% else %}
								<span class="glyphicon 	glyphicon glyphicon-minus">
							{% endif %}
							</th>
							<th><a href="{% url 'editar_horario' id=horario.id %}" class="glyphicon glyphicon-edit"></a></th>
							<th><a href="{% url 'deletar_horario' id=horario.id %}" class="glyphicon glyphicon-remove"></a></th>
						</tr>
						{% endfor %}
					</table>
				</div>
				{% if horarios.has_other_pages %}
  				<ul class="pagination">
    			{% if horarios.has_previous %}
      				<li><a href="?page={{ horarios.previous_page_number }}">&laquo;</a></li>
    			{% else %}
     				 <li class="disabled"><span>&laquo;</span></li>
    			{% endif %}
    			{% for i in horarios.paginator.page_range %}
      				{% if horarios.number == i %}
        				<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      				{% else %}
        				<li><a href="?page={{ i }}">{{ i }}</a></li>
      				{% endif %}
    			{% endfor %}
    			{% if horarios.has_next %}
      				<li><a href="?page={{ horarios.next_page_number }}">&raquo;</a></li>
    			{% else %}
      				<li class="disabled"><span>&raquo;</span></li>
    			{% endif %}
  				</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
